section.contacts#contacts
    div.container

        div.text
            strong Свяжитесь с нами #[br]Любым удобным для вас способом:
            a(href="tel:79161814037").phone +7 (916) 181-40-37
            div.socials
                a(href="https://wa.me/79161814037", target="blank")
                    img(src="images/whatsapp.svg")
                    span Напишите в Whatsapp
                a(href="https://t.me/+79161814037", target="blank")
                    img(src="images/telegram.svg")
                    span Напишите в Telegram
                a(href="mailto:ovn91@yandex.ru", target="blank")
                    img(src="images/mail.svg")
                    span Напишите на почту

        div.image
            img(src="images/16.webp", alt=" ")