section.gallery
    div.container

        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src="images/gallery/1.webp", alt="")
                div.swiper-slide: img(src="images/gallery/4.webp", alt="")
                div.swiper-slide: img(src="images/gallery/6.webp", alt="")
                div.swiper-slide: img(src="images/gallery/7.webp", alt="")
                div.swiper-slide: img(src="images/gallery/8.webp", alt="")
                div.swiper-slide: img(src="images/gallery/10.webp", alt="")
                div.swiper-slide: img(src="images/gallery/11.webp", alt="")
                div.swiper-slide: img(src="images/gallery/12.webp", alt="")
                div.swiper-slide: img(src="images/gallery/13.webp", alt="")
                div.swiper-slide: img(src="images/gallery/14.webp", alt="")
                div.swiper-slide: img(src="images/gallery/15.webp", alt="")
                div.swiper-slide: img(src="images/gallery/16.webp", alt="")
                div.swiper-slide: img(src="images/gallery/17.webp", alt="")
                div.swiper-slide: img(src="images/gallery/18.webp", alt="")
                div.swiper-slide: img(src="images/gallery/19.webp", alt="")

        div.swiper-navigation
            div.arrow
                include ../../images/arrow.svg
            div.arrow
                include ../../images/arrow.svg