section.main#main
    div.container

        div.text
            h1 Перевозка #[br]лежачих больных
            span От кровати до кровати на спецавтомобиле в сопровождении двух санитаров

            div.buttons
                button(data-modal-target="proposal").red Срочный вызов
                button(data-modal-target="proposal").blue Записаться онлайн

        div.image
            img(src="images/car.webp", alt="")