mixin review(date, name, text)
    div.review
        div.top
            span= date
            div.stars
                img(src="images/star.svg")
                img(src="images/star.svg")
                img(src="images/star.svg")
                img(src="images/star.svg")
                img(src="images/star.svg")
        h3= name
        p= text

section.reviews#reviews
    div.container

        div.title
            h2 Отзывы о нас

            a(href="https://www.avito.ru/", target="_blank").avito
                span Отзывы на
                img(src="images/avito.svg", alt="")

            div.swiper-navigation
                div.arrow
                    include ../../images/arrow.svg
                div.arrow
                    include ../../images/arrow.svg

        div.swiper.reviews
            div.swiper-wrapper
                div.swiper-slide
                    +review('23 июня 2023', 'Ольга', 'Отличная слаженная работа от момента заказа до его выполнения. Ребята большие молодцы, приехали заранее, были вежливы и внимательны. Цена стандартная для такого рода услуги, но значительно дешевле, чем предлагают специализированные фирмы, контакты которых дают в реабилитационных центрах и больницах. Благодарю, Влад! При необходимости обращусь к Вам обязательно. Спасибо за Вашу работу.')
                div.swiper-slide
                    +review('13 июня 2023', 'Инна', 'Перевозили лежачую маму в больницу . Бригадой очень довольны, за минуту 40 до прибытия позвонили, довезли в сохранности быстро а аккуратно, очень вежливые ребята. Рекомендую 👍')
                div.swiper-slide
                    +review('23 июня 2023', 'Ольга', 'Отличная слаженная работа от момента заказа до его выполнения. Ребята большие молодцы, приехали заранее, были вежливы и внимательны. Цена стандартная для такого рода услуги, но значительно дешевле, чем предлагают специализированные фирмы, контакты которых дают в реабилитационных центрах и больницах. Благодарю, Влад! При необходимости обращусь к Вам обязательно. Спасибо за Вашу работу.')
                div.swiper-slide
                    +review('13 июня 2023', 'Инна', 'Перевозили лежачую маму в больницу . Бригадой очень довольны, за минуту 40 до прибытия позвонили, довезли в сохранности быстро а аккуратно, очень вежливые ребята. Рекомендую 👍')
                div.swiper-slide
                    +review('23 июня 2023', 'Ольга', 'Отличная слаженная работа от момента заказа до его выполнения. Ребята большие молодцы, приехали заранее, были вежливы и внимательны. Цена стандартная для такого рода услуги, но значительно дешевле, чем предлагают специализированные фирмы, контакты которых дают в реабилитационных центрах и больницах. Благодарю, Влад! При необходимости обращусь к Вам обязательно. Спасибо за Вашу работу.')
                div.swiper-slide
                    +review('13 июня 2023', 'Инна', 'Перевозили лежачую маму в больницу . Бригадой очень довольны, за минуту 40 до прибытия позвонили, довезли в сохранности быстро а аккуратно, очень вежливые ребята. Рекомендую 👍')
