dialog(data-modal-name="menu")
    div.container

        img(src="images/cross.svg", alt="", data-modal-close).cross

        menu
            a(href="index.html#services", data-modal-close) Услуги
            a(href="index.html#about", data-modal-close) О компании
            a(href="index.html#reviews", data-modal-close) Отзывы
            a(href="index.html#contacts", data-modal-close) Контакты

        div.socials
            div.list
                a(href="https://wa.me/79161814037", target="blank"): img(src="images/whatsapp.svg")
                a(href="https://t.me/+79161814037", target="blank"): img(src="images/telegram.svg")
                a(href="mailto:ovn91@yandex.ru", target="blank"): img(src="images/mail.svg")
            a(href="https://www.avito.ru/mytischi/predlozheniya_uslug/transportirovka_lezhachih_bolnyh_1969695954"): img(src="images/avito.svg")