dialog(data-modal-name="success")
    div.container
        img(src="images/cross.svg", alt="", data-modal-close).cross
        img(src="images/success.svg", alt="")
        h2 Ваше заявка #[br]принята
        span Мы свяжемся с вами, как только сможем
        button(data-modal-close).blue Закрыть