extends common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/policy.css")

block content
    section.policy
        div.container

            h1 Политика конфиденциальности
            p До того, как Вы начнете пользоваться сайтом https://report.eco-c.ru/ (далее – «Сайт»), сервисами и  возможностями, представленными на нем, просим Вас внимательно ознакомиться с настоящим  документом. Используя любые функции, сервисы и возможности Сайта, в том числе просто просматривая  страницы Сайта, Вы – пользователь – независимо от того, зарегистрировались ли Вы на Сайте или  посещаете его без регистрации, заявляете, что прочитали, поняли и согласны соблюдать настоящее  пользовательское соглашение (далее – «Соглашение»), включая все упомянутые в нем специальные  условия и правила, без каких-либо изъятий и оговорок.
            h2 Основные понятия, используемые в настоящем пользовательском соглашении
            p В настоящем пользовательском соглашении, если из текста настоящего соглашения прямо не вытекает  иное, следующие слова и выражения будут иметь указанные ниже значения:
            strong Организация места для ухода
            p Оптимальный вариант — выделить отдельную комнату, которая хорошо проветривается, имеет доступ к естественному свету и место для всех необходимых принадлежностей. Если такой возможности нет, стоит выбрать участок в комнате, где можно организовать всё необходимое и обеспечить комфорт для пациента.
            strong Специальная кровать и матрас
            p Медицинская кровать с регулировкой подъема — полезное приобретение, так как она облегчает уход, помогает менять положение тела и уменьшает нагрузку на спину пациента. Для профилактики пролежней пригодится антипролежневый матрас, который распределяет давление на кожу и предотвращает её повреждение.
            strong Поручни, подставки и приспособления
            p Поручни у кровати или у стены рядом создадут дополнительную поддержку, особенно если пациент может хотя бы немного двигаться самостоятельно. Подставки, столики и полки для ухода помогут удобно разместить нужные средства, чтобы они всегда были под рукой. Если пациенту необходимо периодически перевозить на обследования, подумайте об удобных переносных устройствах, а также специализированной транспортировке — такие перевозчики обеспечат комфортное перемещение и поддержат нужное положение больного в пути.
            h2 Общие положения
            p Гигиена лежачего больного — основа его комфорта и профилактики различных осложнений, связанных с кожными инфекциями и общим состоянием.
            strong Поручни, подставки и приспособления
            p Гигиена лежачего больного — основа его комфорта и профилактики различных осложнений, связанных с кожными инфекциями и общим состоянием.
            ol
                li Лекарства и их прием
                li Посещения врачей и перевозка до клиник
                li Психологическая поддержка и общение с пациентом
                li Психологическое состояние лежачего больного
            p Поручни у кровати или у стены рядом создадут дополнительную поддержку, особенно если пациент может хотя бы немного двигаться самостоятельно. Подставки, столики и полки для ухода помогут удобно разместить нужные средства, чтобы они всегда были под рукой. Если пациенту необходимо периодически перевозить на обследования, подумайте об удобных переносных устройствах, а также специализированной транспортировке — такие перевозчики обеспечат комфортное перемещение и поддержат нужное положение больного в пути.
            strong Поручни, подставки и приспособления
            p Гигиена лежачего больного — основа его комфорта и профилактики различных осложнений, связанных с кожными инфекциями и общим состоянием.
            ul
                li Лекарства и их прием
                li Посещения врачей и перевозка до клиник
                li Психологическая поддержка и общение с пациентом
                li Психологическое состояние лежачего больного